body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0b1430; 
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    text-align: center;
    color: #0b1430; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #0b1430;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0b1430; 
    color: white;
}
